* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  overflow: hidden;
}
.bodycontainer {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  width: 100%;
  scroll-snap-align: center;
}
#home {
  background-image: radial-gradient(
    circle at center,
    rgba(58, 61, 70, 0.996078431372549) 0%,
    rgba(58, 61, 70, 0.9960808321173228) 0%,
    rgba(47, 48, 55, 0.9975361213419526) 40%,
    rgba(17, 17, 17, 0.9999999999999999) 100%
  );
}
/* nav start */

.brandLogo img {
  height: 60px;
}
.rightNav {
  display: flex;
}
.rightNav p {
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  font-family: "Montserrat";
  margin: 0px 20px;
}
.rightNav a {
  text-decoration: none;
  color: white;
}

.navMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.homeContent {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homeContentImg {
  display: flex;
  justify-content: center;
}
.homeContentImg img {
  height: 320px;
}
.homeContent p {
  font-size: 45px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
}
/* nav end */

#about {
  background-image: radial-gradient(
    circle at center,
    rgba(58, 61, 70, 0.996078431372549) 0%,
    rgba(58, 61, 70, 0.9960808321173228) 0%,
    rgba(47, 48, 55, 0.9975361213419526) 40%,
    rgba(17, 17, 17, 0.9999999999999999) 100%
  );
}
.aboutContent {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
h5 {
  font-size: 65px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #f1c803;
  font-weight: 700;
  font-family: "Montserrat";
  filter: drop-shadow(-20.991px 11.635px 9px rgba(0, 0, 0, 0.25));
  text-align: center;
  position: relative;
  top: -20px;
}
.aboutContentImg {
  display: flex;
  justify-content: center;
}
.aboutContentImg img {
  height: 320px;
}
.scale5 {
  scale: 1.2;
  margin: 0px 50px;
}
.aboutContent p {
  width: 972px;
  height: 130px;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Montserrat";
  text-align: center;
}
.downloadContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerDiv {
  display: flex;
  width: 300px;
  align-items: center;
  height: 20px;
}
.innerDiv h6 {
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fed200;
  font-weight: 700;
  font-family: "Montserrat";
}
#contact {
  background-image: radial-gradient(
    circle at center,
    rgba(58, 61, 70, 0.996078431372549) 0%,
    rgba(58, 61, 70, 0.9960808321173228) 0%,
    rgba(47, 48, 55, 0.9975361213419526) 40%,
    rgba(17, 17, 17, 0.9999999999999999) 100%
  );
}
.contactForm {
  padding: 70px 80px;
  border-radius: 46px;
  filter: drop-shadow(-21.212px 25.279px 34px rgba(0, 0, 0, 0.41));
  background-image: radial-gradient(
    circle at center,
    rgba(58, 61, 70, 0.996078431372549) 0%,
    rgba(58, 61, 70, 0.9960808321173228) 0%,
    rgba(47, 48, 55, 0.9975361213419526) 40%,
    rgba(17, 17, 17, 0.9999999999999999) 100%
  );
}
.contactContent {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 35px;
}
.contactForm h5 {
  font-size: 32px;
  letter-spacing: 12px;
  text-transform: uppercase;
  color: #fed200;
  font-weight: 300;
  font-family: "Montserrat";
  margin: 0px 50px 20px 50px;
}
.contactForm input::placeholder {
  opacity: 0.49;
  font-size: 22px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
}
.contactForm input {
  background: transparent;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  width: 100%;
  height: 25px;
  padding: 5px 10px;
  color: white !important;
  font-size: 20px !important;
}
.sendBtn {
  display: flex;
  justify-content: center;
}
.sendBtn button {
  width: 280px;
  height: 45px;
  border-radius: 8px;
  filter: drop-shadow(-7.08px 10.903px 9px rgba(0, 0, 0, 0.85));
  background-image: radial-gradient(
    circle at center,
    rgba(58, 61, 70, 0.996078431372549) 0%,
    rgba(58, 61, 70, 0.9960808321173228) 0%,
    rgba(47, 48, 55, 0.9975361213419526) 40%,
    rgba(17, 17, 17, 0.9999999999999999) 100%
  );
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Montserrat";
  border: none;
}
.contactInfo h6 {
  font-size: 24px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
}
.contactInfo p {
  font-size: 22px;
  font-weight: 300;
  font-family: "Montserrat";
  text-align: center;
  margin: 20px 0px;
  color: gray;
}
.contactInfo h4 {
  font-size: 24px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
}
.contactInfo {
  width: 350px;
  margin: 40px 100px 0px 0px;
}
.contactInfo h5 {
  font-size: 45px;
  letter-spacing: 5px;
  line-height: 55px;
  text-transform: uppercase;
  color: #fed200;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
}
.callDiv {
  margin: 20px 0px;
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: transparent;
  display: flex;
  justify-content: space-between;
}
.socialMediaMain {
  position: relative;
  left: 40px;
  top: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.socialMediaMain img {
  height: 18px;
  margin-bottom: 15px;
}
.scrollMain {
  position: relative;
  right: 20px;
  top: -20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.scroll-text {
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
  transform: rotate(90deg);
  transform-origin: left;
}
.line {
  width: 1px;
  height: 66px;
  background-color: #ffffff;
  margin-top: 70px;
}
/* -----Responsive----- */
@media (max-width: 1024px) {
  .aboutContent p {
    width: 700px;
    font-size: 15px;
  }
  .contactContent {
    flex-direction: column-reverse;
    padding-top: 8px;
  }
  .contactInfo {
    margin: 0px;
  }
  .contactForm {
    padding: 25px 32px;
    border-radius: 26px;
  }
  .contactForm h5 {
    font-size: 16px;
    letter-spacing: 6px;
    margin: 8px 32px 12px 32px;
  }
  .contactForm input::placeholder {
    opacity: 0.49;
    font-size: 15px;
  }
  .contactForm input {
    margin-bottom: 20px;
    height: 16px;
    padding: 4px 6px;
  }
  .sendBtn {
    display: flex;
    justify-content: center;
  }
  .sendBtn button {
    width: 240px;
    height: 35px;
    border-radius: 6px;
    font-size: 15px;
  }
  .contactInfo h6 {
    font-size: 15px;
  }
  .contactInfo p {
    font-size: 12px;
    margin: 12px 0px;
  }
  .contactInfo h4 {
    font-size: 15px;
  }
  .contactInfo {
    width: 210px;
    margin: 32px 0px 0px 0px;
  }
  .contactInfo h5 {
    font-size: 25px;
    letter-spacing: 3px;
    line-height: 35px;
  }
}
@media (max-width: 768px) {
  .brandLogo img {
    height: 40px;
  }
  .rightNav {
    display: flex;
    flex-direction: column;
  }
  .rightNav p {
    font-size: 12px;
    margin: 4px;
    text-align: right;
  }
  .navMain {
    padding: 16px;
  }
  .homeContentImg img {
    height: 160px;
  }
  .homeContent p {
    font-size: 20px;
    text-align: center;
  }
  .socialMediaMain {
    left: 20px;
    top: -10px;
  }
  .socialMediaMain img {
    height: 12px;
    margin-bottom: 8px;
  }
  .scrollMain {
    right: -10px;
    top: -10px;
  }
  .scroll-text {
    font-size: 8px;
    letter-spacing: 1px;
  }
  .line {
    width: 1px;
    height: 30px;
    background-color: #ffffff;
    margin-top: 40px;
  }
  .aboutContentImg img {
    height: 120px;
  }
  .scale5 {
    scale: 1.4;
    margin: 0px 10px;
  }
  h5 {
    font-size: 40px;
    letter-spacing: 3px;
    top: -10px;
  }
  .aboutContent p {
    width: 250px;
    height: 130px;
    font-size: 10px;
    letter-spacing: 0.5px;
    line-height: 19px;
  }
  .contactContent {
    flex-direction: column-reverse;
    padding-top: 50px;
  }
  .contactInfo {
    margin: 0px;
  }
  .contactForm {
    padding: 15px 20px;
    border-radius: 18px;
  }
  .contactForm h5 {
    font-size: 12px;
    letter-spacing: 4px;
    margin: 8px 32px 12px 32px;
  }
  .contactForm input::placeholder {
    opacity: 0.49;
    font-size: 12px;
  }
  .contactForm input {
    margin-bottom: 16px;
    height: 12px;
    padding: 2px 3px;
  }
  .sendBtn button {
    width: 200px;
    height: 30px;
    border-radius: 4px;
    font-size: 12px;
  }
  .contactInfo h6 {
    font-size: 12px;
  }
  .contactInfo p {
    font-size: 9px;
    margin: 8px 0px;
  }
  .contactInfo h4 {
    font-size: 12px;
  }
  .contactInfo {
    width: 160px;
    margin: 26px 0px 0px 0px;
  }
  .contactInfo h5 {
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 30px;
  }
  .callDiv {
    margin: 5px 0px;
  }
  .contactForm input {
    font-size: 16px !important;
  }
  .barImg img {
    display: block !important;
    height: 20px;
    width: 20px;
    filter: brightness(0) invert(1);
  }
  .barImg {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
  }
  .rightNav {
    position: relative;
    top: 0px;
  }
  .options{
    flex-direction: column;
    position: absolute;
    right: 0px;
    width: 80px;
    top: 25px;
  }
}
.options{
  display: flex;
}
.borderRed {
  border-bottom: 1px solid red !important;
}
.borderWhite {
  border-bottom: 1px solid white !important;
}
.barImg img {
  display: none;
}
